
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;/*The box-sizing property allows us to include the padding and border in an element's total width and height*/
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;/*smooth	Allows a smooth animated "scroll effect" between elements within the scrolling box.*/
}

p{
    font-weight: 300 px;
    color: rgb(0, 0, 0);
}
/*CSS nav***/

header{    
    position: fixed;
    top: 0%;
    left: 0%;
    padding: 20px 10px;
    width: 100%;
    z-index: 1;/*z-index only works on positioned elements (position: absolute, position: relative, position: fixed, or position: sticky) and flex items (elements that are direct children of display:flex elements).*/
    display: flex;
    justify-content: space-evenly;/*Items will have equal space around them*/
    align-items: center;
    background-color:rgb(0, 0, 0);
}

.logo{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
}
.logo span{
    color: #fb911f;
}

.navbar{
    display: flex;
    position: relative;
}
.navbar li{
    list-style: none;
}
.navbar a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 30px;
    font-weight: 700;

}
header .navbar li a:hover{
    color: #fb911f;
    border-bottom: 2px solid #fb911f;/*remarque:If border-bottom-color is omitted, the color applied will be the color of the text.*/

}
/*fin css navbar**/


/*css page d acceuil*/
.banniere{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url(images/index/D2fOGeNg_4x.jpg);
    background-size: cover;/*Resize the background image to cover the entire container, even if it has to stretch the image or cut a little bit off one of the edges*/
}

.banniere .contenu{
    max-width: 100%;
    text-align: center;
}
.banniere .contenu h2{
    color:#ffffff;
    font-size: 2.5em;
    text-transform: capitalize;
    padding-top: 100px;
}
.contenu p{
    color: rgb(255, 255, 255);
    font-size: 1.2em;
}

.btn1{
    font-size: 1em;
    color: #fff;
    background: #fb911f;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 10px;
}
.btn2{
    font-size: 1em;
    color: #fff;
    background: #2a4963;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 10px;
}

.btn1:hover{
letter-spacing: 5px;
}
.btn2:hover{
    letter-spacing: 5px;
}
/*fin css page d acceuil*/



/*CSS page apropos*/
section{
    padding: 100px;
}
.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row .col50{
    position: relative;
    width: 48%;
    justify-content: center;
    align-items: center;

}

.row .col50 h2{
    margin-bottom: 20px;
}

.titre-texte{
    color: rgb(0, 0, 0);
    font-size: 2em;
    font-weight: 300px;
    text-transform: capitalize;
}

.titre-texte span{
    color: #fb911f;
    font-size: 1.5em;
    font-weight: 700px;
}

.row .col50 img{
    height: 500px;
    width:600px;
    position: relative;
}
/*fin css apropos */




/*css page temoignage**/
.temoignage{
    background-image: url(./images/index/cSW0Q1C4_4x.jpg);
    background-size: cover;
}

.temoignage .contenu{
    display: flex;
    margin-top: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.temoignage .contenu .box{
    width: 340px;
    margin: 20px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    padding: 40px;
}

.temoignage .contenu .box .imbox{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}

.temoignage .contenu .box .imbox img{
    position: relative;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}

.temoignage .contenu .box .text p{
    text-align: center;
    color: rgb(0, 0, 0);
    font-style: italic;
}

.temoignage .contenu .box .text h3{
    color: #fb911f;
    margin-top: 20px;
    font-size: 1em;
    font-weight: 600;
    text-transform:uppercase;
    text-align: center;

}
h2.titre-texte{
    color:#fff;
    text-align: center;
}
/*question: pourquoi ca ne marche pas : h2.titre blanc{ color:white;}?????????*/

/*fin css page de temoignage**/


/* css page de contact**/
.contact{
    background-image: url(./images/index/cSW0Q1C4_4x.jpg);
    background-size: cover;
    width: 100%;

   
}

.contactform{
    padding: 75px 50px;
    background: #fff;
    box-shadow: 0px -1px 9px 4px rgb(255 255 255 / 80%);
    max-width: 500px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    margin-left: 38%;
}

.contact .titre-text span{
    color: #fb911f;
    font-size: 2em;
}

#color{
    color: rgb(255, 255, 255);
    font-size: 3em;
    margin-bottom: 20px;
    text-align: center;

}

.contactform .inputboite{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.contactform h3{
    color: #000000;
    margin-bottom: 7px;
}

input.inputboite,textarea.inputboite{
    
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 300;
    resize: none;/*La propriété resize permet de contrôler le caractère redimensionnable d'un élément et notamment la direction dans laquelle celui-ci peut être redimensionné.*/
}

input[type="submit"].inputboite{
    font-size: 1em;
    font-weight: 700;
    color: #ffff;
    background: #fb911f;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: none;/* remarque par defaut il ya une bordure*/
    transition: 0.5s;
    width: 150px;
    align-items: center;
    justify-content: center;
    margin-left: 30%

}
input[type="submit"].inputboite:hover{
    letter-spacing: 5px; }

/*fin css page de contact*/







/*@media (max-width: 991px) {
header, 
header.sticky{
    padding: 10px 20px;
}

header .navbar li{
    margin-left: 0px;
}

header .navbar li a {
    text-decoration: none;
    color: #111;
    font-size: 1.6em;
    font-weight: 300;
}

.navbar{
    display: none;
}
section{
    padding: 20px;
}

header .navbar.active{
    width: 100%;
    height: calc(100% -68px);
    position: fixed;
    top: 68px;
    left:0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #ffff;
    align-items: center;
}

.menuToggle{
    position: relative;
    width: 40px;
    height: 40px;
    background-image: url(./images/index/menu.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-size: 30px;
}

.menuToggle.active
{
    background-image: url(./images/index/close.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-origin: center;
}

header.sticky .menuToggle{
    filter: invert(1);
}


.banniere .contenu h2{
    font-size: 2em;
}

.row .col50 img{
    margin-left: 18%;
}

.contenu p:nth-child(2){
    font-size: 1.2em;
}
.expert{
    margin-top: 0px;
}

.menu{
    margin-top: 0px;
}

.row{
    display: flex;
    flex-direction: column;
}



.temoignage h2{
    font-size: 2em;
    text-align: center;
}

.temoignage p{
text-align: center;
}

.contactform{
    margin-left: 25%;
}


    .row .col50 {
        position: relative;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    
    }

    .row{
        flex-direction: column;
    }
}

@media (max-width: 480px)
{
    .banniere .contenu h2{
        font-size: 2.2em;
        color: #fff;
    }

    .titre-text{
        color: #000;
        font-size: 2rem;
        font-weight: 300;
        text-transform: capitalize;
    }

    .temoignage h2 
    {
        font-size: 1.1em;
    }

    .temoignage p{
        text-align: center;
    }
}*/