
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;/*The box-sizing property allows us to include the padding and border in an element's total width and height*/
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;/*smooth	Allows a smooth animated "scroll effect" between elements within the scrolling box.*/
}


p{
    font-weight: 300 px;
    color: #fff;
}
/*CSS nav***/

header{    
    position: sticky;
    top: 0%;
    left: 0%;
    padding: 20px 10px;
    width: 100%;
    z-index: 1;/*z-index only works on positioned elements (position: absolute, position: relative, position: fixed, or position: sticky) and flex items (elements that are direct children of display:flex elements).*/
    display: flex;
    background-color:rgb(0, 0, 0);
}

.logo-area{
    width: 25%;
    display: flex;
    margin: auto;
}
.logo{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
}
.logo span{
    color: #fb911f;
}
.collapse{
    width: 75%;
    justify-content: flex-end;
    margin-right: 40px;
}
.navbar{
    width: 100%;
    display: flex;
    position: relative;
}
.navbar li{
    list-style: none;
    justify-content: space-evenly;
}
.navbar a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 30px;
    font-weight: 700;

}
header .navbar li a:hover{
    color: #fb911f;
    border-bottom: 2px solid #fb911f;/*remarque:If border-bottom-color is omitted, the color applied will be the color of the text.*/

}
#cart:hover{
    border-bottom: none;
}
/*search*/
.button {
	display: inline-block;
	margin: 4px 2px;
	background-color: #2f3640;
	font-size: 14px;
	padding-left: 32px;
	padding-right: 32px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: white;
	text-decoration: none;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.button:hover {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
}

.search-container {
	position: relative;
	display: inline-block;
	margin: 4px 2px;
    margin-left: 20px;
	height: 50px;
	width: 50px;
    border-radius: 40px;
	vertical-align: bottom;
}

.searchbutton {
	position: absolute;
	font-size: 22px;
    border-radius: 40px;
	width: 100%;
	margin: 0;
	padding: 0;
}

.search:focus + .searchbutton {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
    background: none;
    color: #fff;
}

.search {
	position: absolute;
	left: 49px; /*Button width-1px (Not 50px/100% because that will sometimes show a 1px line between the search box and button)  */
	background: white ;
	outline: none;
	border: none;
    border-radius: 40px;
	padding: 0;
	width: 0;
	height: 100%;
	z-index: 10;
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
}

.search:focus {
	width: 420px; 
	padding: 0 16px 0 0;
}

.expandright {
	left: auto;
	right: 49px; 
}

.expandright:focus {
	padding: 0 0 0 16px;
}
/*end search*/

/*fin css navbar**/

.banniere{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url(images/index/background.jpg);
    background-size: cover;
}

.banniere .contenu{
    max-width: 70%;
    text-align: center;
}
.banniere .contenu h2{
    color: #fff;
    font-size: 2.5em;
    text-transform: capitalize;
}
.contenu p:nth-child(2){
    color: #ffff;
    font-size: 1.2em;
}

.btn1{
    font-size: 1em;
    color: #fff;
    background: #fb911f;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
}
.btn2{
    font-size: 1em;
    color: #fff;
    background: #2a4963;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 10px;
}

.btn1:hover,.btn2:hover{
    letter-spacing: 4px;
    color:rgb(255, 255, 255);
    position: relative;
    bottom:5px;
}

section{
    padding: 100px;
}
.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row .col50{
    position: relative;
    width: 48%;
    justify-content: center;
    align-items: center;

}

.row .col50 h2{
    margin-bottom: 20px;
}

.titre-texte{
    color: rgb(255, 255, 255);
    font-size: 2em;
    font-weight: 300px;
    text-transform: capitalize;
}

.titre-texte span{
    color: #fb911f;
    font-size: 1.5em;
    font-weight: 700px;
}


.row .col50 img{
    object-fit: contain;
    height: 450px;
    width: 100%;
    position: relative;
}

.titre{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.temoignage{
    background-image: url(./images/index/bg2.jpg);
    background-size: cover;
}

.temoignage .contenu{
    display: flex;
    margin-top: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.temoignage .contenu .box{
    width: 340px;
    height: 380px;
    margin: 20px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    padding: 40px;
}

.temoignage .contenu .box .imbox{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}

.temoignage .contenu .box .imbox img{
    position: relative;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}

.temoignage .contenu .box .text{
    text-align: center;
    color: #666;
    font-style: italic;
}

.temoignage .contenu .box .text h3{
    color: #fb911f;
    margin-top: 20px;
    font-size: 1em;
    font-weight: 600;
}

.temoignage .contenu .box .text p{
    text-align: center;
    color: rgb(0, 0, 0);
    font-style: italic;
}

.blanc .titre-texte{
    color: #fff;
}

.blanc .titre-texte,
.blanc p{
    color: #fff;
}

/* css page de contact**/
.contact{
    background-size: cover;
    width: 100%;
}

.contactform{
    padding: 75px 50px;
    background: #fff;
    box-shadow: 0px -1px 9px 4px rgb(255 255 255 / 80%);
    max-width: 500px;
    margin-top: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .titre-text span{
    color: #fb911f;
    font-size: 2em;
}

#color{
    color: rgb(255, 255, 255);
    font-size: 3em;
    margin-bottom: 20px;
    text-align: center;

}

.contactform .inputboite{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.contactform h3{
    color: #000000;
    margin-bottom: 7px;
}

input.inputboite,textarea.inputboite{
    
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 300;
    resize: none;/*La propriété resize permet de contrôler le caractère redimensionnable d'un élément et notamment la direction dans laquelle celui-ci peut être redimensionné.*/
}

input[type="submit"].inputboite{
    font-size: 1em;
    font-weight: 700;
    color: #ffff;
    background: #fb911f;
    display: flex;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: none;/* remarque par defaut il ya une bordure*/
    transition: 0.5s;
    width: 150px;
    align-items: center;
    justify-content: center;
    margin: auto;

}
input[type="submit"].inputboite:hover{
    letter-spacing: 5px; }

/*fin css page de contact*/

header.sticky{
    background: #fff;
    padding: 10px 10px;
    box-shadow: 0px 5px 20px rgba(0,0,0, 0.05);
}

header.sticky .logo{
    color: #000;
}

header.sticky .navbar li a {
    color: #000;
}

header.sticky li a:hover{
    color: #fb911f;
    border-bottom: 2px solid #fb911f;
}
.w-100 {
    margin: 10px;
    max-height: 50vh;
  }

.carousel-item {
    height: 420px;
    margin-bottom: 40px;
}

.carousel-item img{
    object-fit: contain;
}

section{
    background-color: #333;
}

.plus{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-toggler{
    position: fixed;
    top: 20px;
    right: 15px;
}

 
@media all and (max-width:820px)  {
header, 
header.sticky{
    padding: 10px 20px;
}

header .navbar li{
    margin-left: 0px;
}

header .navbar li a {
    text-decoration: none;
    color: #fff;
}

section{
    padding: 20px;
}

header .navbar.active{
    width: 100%;
    height: calc(100% -68px);
    position: fixed;
    top: 68px;
    left:0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #ffff;
    align-items: center;
}

.banniere .contenu h2{
    font-size: 2em;
}

.row .col50 img{
    width:100%;
}

.contenu p:nth-child(2){
    font-size: 1.2em;
}
.expert{
    margin-top: 0px;
}

.menu{
    margin-top: 0px;
}

.row{
    display: flex;
    flex-direction: column;
}



.temoignage h2{
    font-size: 2em;
    text-align: center;
}

.temoignage p{
text-align: center;
}

    .row .col50 {
        position: relative;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    
    }

    .row{
        flex-direction: column;
    }
    
} 
/**** CSS FOOTER*****/
footer{    
    position: relative;
    bottom: 0;
    left: 0;
    padding: 20px 20px;
    width: 100%;
    z-index: 1;/*z-index only works on positioned elements (position: absolute, position: relative, position: fixed, or position: sticky) and flex items (elements that are direct children of display:flex elements).*/
    display: flex;
    background-color:rgb(0, 0, 0);
}
div.social-media{
    margin-left: 55%;
    display: flex;
} 
div.social-media a{
    margin-left: 15px;
}
div.social-media i{
    color: #fff;

}

#contactez{
    color: #fff;
    font-size: 20px;
    font-weight: 4px;
    margin-left: 10px;
}

@media all and (min-width: 300px) and (max-width: 767px)
{
    .banniere .contenu h2{
        font-size: 2.2em;
        color: #fff;
    }

    .titre-text{
        color: #fff;
        text-transform: capitalize;
    }

    .temoignage h2 
    {
        font-size: 1.1em;
    }

    .temoignage p{
        text-align: center;
    }
    .expandright {
        left: 49px;
        right: auto; 
    }
    
    .expandright:focus {
        padding: 0 0 0 16px;
    }
    .search, .search:focus{
        margin-top: 10px;
        height: 30px;
        width: 240px; 
        padding: 0  0 0 16px; 
    }

    .searchbutton{
        background: none;
        color: #fff;
    }
    .logo-area{
        margin: 0;
    }
    
}


